target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/

### Local Secrets (NEVER commit real API keys) ###
**/application-local.yml
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradletaskcache/

### Systems ###
.DS_Store
Thumbs.db

### Local DB Data ###
data/
*.mv.db
*.trace.db
